
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: calibri light;
  color: #212121;
}


header {
  box-shadow:1px 1px 10px 1px #111333;
  height: 11%;
  width:100%;

}


div#logo {
	margin:8px;
	    width: 15%;
    float: left;
}


div#login {
	    margin: 15px;
	float:right;
	width:9%;
	  	
}


div#login p {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
}


.search_btn {
	margin: 4px 4px 4px 12px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	padding: 4px 16px;
    
	background-color: #ef6c00;
    color: #ffffff;   
	border:none;
		
}


.logout-btn {
	
	margin: 4px 4px 4px 12px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	padding: 8px 16px;
    
	background-color: #ef6c00;
    color: #ffffff;   
	border:none;
	
}


nav {
	position: relative;
    top: 20%;
	width:60%;
	float:left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    float: right;
	padding:2%;
	font-size:20px;
}

nav ul {
	display: inline;
}

nav ul li a {
	color: #ef6c00;
	
	text-decoration: none;
	
}



.search_txt {
    border: none;
    padding: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}






div#login_page {
    background-color:#f7f7f7;
    height: 100%;
    width: 100%;
}


#main {
	height:75%;
	flex: 1;
	background: light-grey;
	position:relative;

}


div#txt {
	top:25%;
    position: relative;
}


div#txt h2 {
    font-size: 50px;
    color: #969494;
    text-align: center;
    
}

form#login_form {
    margin-top: 30px;
    position: absolute;
    width: auto;
    left: 30%;
    right: 30%;
    box-shadow: 0px 0px 5px 0px #111333;
    background-color: #f7f7f7;
    padding: 2%;
    margin-bottom: 30px;
    top: 20%;
    background-color: white;
	
}


#container {
	overflow:hidden;

	height:100%;
	width:100%;
	
}


#left {
	width:48%;
	float:left;
}



#left h1 {
	padding-top:15%;
	padding-left:30px;
	    font-size: 48px;
    line-height: 60px;
    color: #757575;
}
#left h4 {
	padding-right:10%;
	    font-size: 21px;
    padding-left:30px;
    color: #212121;
}

.Ibtn, .Dbtn {
	margin: 4px 4px 4px 12px;
	    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    padding: 8px 16px;
	background-color: #ef6c00;
    color: #ffffff;
	    text-transform: uppercase;
	border:none;
}

div#sideimage {
	float:right;	
	width:48%;
	max-height:100%;
	
}

#search {
	background:#f7f7f7;
	padding:5px;
	margin: 10px;	
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	text-align: right;
}

#book {
	position:relative;
	width:250px;
	height:300px;
	margin:5px;
	padding:20px;
	display:inline-table;
	color:black;
	background:#AFB389;
	background:#f7f7f7;
	moz-border-radius:20px;
	-webkit-border-radius:16px;
	border-radius:16px;

}


#book:hover{
	background:#AFB3AD;	
	color:white;
}



/*  for displaying the book    */
div#image {
	float:left;
	position:relative;
	padding:10px;
	margin-left:20px;
	height:62%;
	
}





#detail {
	color: #212121;
	float:left;
	position:relative;
	height:62%;
	width:40%;
	padding:1%;
	margin:1%;
	background-color:#f7f7f7;
	text-align:center;
	
}


#product {
	color:black;
	float:left;
	position:relative;
	height:30%;
	width:20%;
	margin:1%;
	padding:1%;
	background-color:#f7f7f7;

}




/*   for price of books */
span.price {
	font-size:42px;
}


#buttons {
	
	
	color:black;
	float:left;
	position:relative;
	height:22%;
	width:20%;
	margin:1%;
	padding:1%;
	background-color:#f7f7f7;
	
	
}


#buttons 
	input[type=submit]{
    width:50%;
   /* background-color: #06659F;*/
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
	
#container{
	margin-top:3%;
	background-color:#f7f7f7;
	
	height:100%;
	width:100%;
	
}


.logout-btn:hover, .Ibtn:hover, .Dbtn:hover {
    background-color: #da721d;
	box-shadow: 0 2px 15px 0 rgba(0,0,0,.26);
}


